@inherits LayoutComponentBase

<PageTitle>Skybot.FactoidViewer</PageTitle>

<nav class="header">
  <div>
    <img class="logo" src="img/logo.webp" alt="r/Skyrimmods Logo"/>
  </div>
  <div>
    <h1>Factoid Viewer</h1>
  </div>
  
  <div>
    <AuthorizeView>
      <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/Logout">
          <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
      </Authorized>
      <NotAuthorized>
        <a href="Identity/Account/Login">Log in</a>
      </NotAuthorized>
    </AuthorizeView>
  </div>
</nav>

<ErrorBoundary>
  <ChildContent>
    @Body
  </ChildContent>
  <ErrorContent Context="ex">
    <p class="error">@ex.Message</p>
  </ErrorContent>
</ErrorBoundary>

<footer class="footer">
  Created and Maintained by Netrve | Source Code available under MIT License on <a href="https://github.com/Dakraid/Skybot.FactoidViewer">Github</a>
</footer>
