@inherits LayoutComponentBase

<PageTitle>Skybot_FactoidViewer</PageTitle>

<ErrorBoundary>
  <ChildContent>
    @Body
  </ChildContent>
  <ErrorContent Context="ex">
    <p class="error">@ex.Message</p>
  </ErrorContent>
</ErrorBoundary>

<div class="stars-wrapper">
  <svg class="stars" width="100%" height="100%" preserveAspectRatio="none">
    <circle class="star" cx="47.1%" cy="41.65%" r="0.6"></circle>
    <circle class="star" cx="34.33%" cy="34.66%" r="0.9"></circle>
    <circle class="star" cx="4.72%" cy="0.16%" r="1.1"></circle>
    <circle class="star" cx="56.59%" cy="61.52%" r="0.6"></circle>
    <circle class="star" cx="11.84%" cy="18.05%" r="1.1"></circle>
    <circle class="star" cx="69.67%" cy="16.12%" r="0.9"></circle>
    <circle class="star" cx="51.37%" cy="2.18%" r="1.1"></circle>
    <circle class="star" cx="15.54%" cy="35.92%" r="1.1"></circle>
    <circle class="star" cx="73.81%" cy="97.59%" r="1.2"></circle>
    <circle class="star" cx="30.45%" cy="30.23%" r="0.9"></circle>
    <circle class="star" cx="0.23%" cy="89.14%" r="0.6"></circle>
    <circle class="star" cx="26.56%" cy="74.65%" r="1.3"></circle>
    <circle class="star" cx="69.27%" cy="61.89%" r="0.6"></circle>
    <circle class="star" cx="57.72%" cy="69.81%" r="0.9"></circle>
    <circle class="star" cx="59.12%" cy="19.78%" r="1.2"></circle>
    <circle class="star" cx="60.69%" cy="61.07%" r="0.7"></circle>
    <circle class="star" cx="13.32%" cy="45.64%" r="1.1"></circle>
    <circle class="star" cx="35.9%" cy="70.32%" r="1.1"></circle>
    <circle class="star" cx="97.5%" cy="53.89%" r="0.9"></circle>
    <circle class="star" cx="37.77%" cy="70.83%" r="0.6"></circle>
    <circle class="star" cx="72.64%" cy="15.03%" r="0.8"></circle>
    <circle class="star" cx="4.79%" cy="15.85%" r="1"></circle>
    <circle class="star" cx="11.12%" cy="55.21%" r="0.5"></circle>
    <circle class="star" cx="70.57%" cy="88.99%" r="1.4"></circle>
    <circle class="star" cx="84.01%" cy="90.12%" r="0.7"></circle>
    <circle class="star" cx="39.62%" cy="58.7%" r="0.5"></circle>
    <circle class="star" cx="33.45%" cy="35.36%" r="1.2"></circle>
    <circle class="star" cx="46.74%" cy="88.79%" r="1.5"></circle>
    <circle class="star" cx="92.73%" cy="42.47%" r="1.1"></circle>
    <circle class="star" cx="95.9%" cy="6.35%" r="0.5"></circle>
    <circle class="star" cx="82.59%" cy="63.62%" r="1.2"></circle>
    <circle class="star" cx="53.92%" cy="89.92%" r="0.8"></circle>
    <circle class="star" cx="38.31%" cy="12.39%" r="0.7"></circle>
    <circle class="star" cx="57.98%" cy="26.52%" r="0.9"></circle>
    <circle class="star" cx="73.8%" cy="27.46%" r="0.6"></circle>
    <circle class="star" cx="14.3%" cy="67.15%" r="0.8"></circle>
    <circle class="star" cx="37.21%" cy="75.57%" r="1"></circle>
    <circle class="star" cx="42.12%" cy="73.06%" r="1.3"></circle>
    <circle class="star" cx="36.86%" cy="64%" r="1.1"></circle>
    <circle class="star" cx="74.32%" cy="11.71%" r="0.7"></circle>
    <circle class="star" cx="88.53%" cy="44.34%" r="1.3"></circle>
    <circle class="star" cx="98.65%" cy="51.26%" r="0.6"></circle>
    <circle class="star" cx="20.26%" cy="37.19%" r="1.2"></circle>
    <circle class="star" cx="27.05%" cy="66.88%" r="0.6"></circle>
    <circle class="star" cx="15.7%" cy="76.32%" r="0.6"></circle>
    <circle class="star" cx="17.84%" cy="67.73%" r="0.6"></circle>
    <circle class="star" cx="25.88%" cy="39.64%" r="0.9"></circle>
    <circle class="star" cx="68.03%" cy="37.32%" r="0.7"></circle>
    <circle class="star" cx="10.17%" cy="62.99%" r="1.3"></circle>
    <circle class="star" cx="22.6%" cy="75.06%" r="1.3"></circle>
    <circle class="star" cx="84.95%" cy="80.91%" r="0.8"></circle>
    <circle class="star" cx="29.09%" cy="67.9%" r="0.6"></circle>
    <circle class="star" cx="54.59%" cy="28.07%" r="0.8"></circle>
    <circle class="star" cx="62.6%" cy="35.71%" r="0.9"></circle>
    <circle class="star" cx="56.44%" cy="84.99%" r="1.3"></circle>
    <circle class="star" cx="41.35%" cy="54.15%" r="1.3"></circle>
    <circle class="star" cx="63.27%" cy="44.68%" r="1.1"></circle>
    <circle class="star" cx="46.55%" cy="85.35%" r="1.3"></circle>
    <circle class="star" cx="94.94%" cy="14.2%" r="1.4"></circle>
    <circle class="star" cx="40.9%" cy="87.23%" r="0.7"></circle>
    <circle class="star" cx="90.35%" cy="27.07%" r="0.5"></circle>
    <circle class="star" cx="25.27%" cy="44.42%" r="1.1"></circle>
    <circle class="star" cx="80.19%" cy="80.05%" r="0.8"></circle>
    <circle class="star" cx="12.87%" cy="87.31%" r="1"></circle>
    <circle class="star" cx="92.48%" cy="89.4%" r="1.4"></circle>
    <circle class="star" cx="62.59%" cy="66.24%" r="1.1"></circle>
    <circle class="star" cx="66.73%" cy="53.67%" r="1.3"></circle>
    <circle class="star" cx="23.14%" cy="88.5%" r="1"></circle>
    <circle class="star" cx="45.45%" cy="91.52%" r="0.7"></circle>
    <circle class="star" cx="86.19%" cy="8.86%" r="0.7"></circle>
    <circle class="star" cx="85.47%" cy="48.34%" r="1.1"></circle>
    <circle class="star" cx="43.34%" cy="74.87%" r="1.4"></circle>
    <circle class="star" cx="73.92%" cy="30.38%" r="1.3"></circle>
    <circle class="star" cx="98.75%" cy="54.95%" r="0.6"></circle>
    <circle class="star" cx="45.85%" cy="17.73%" r="1.2"></circle>
    <circle class="star" cx="58.56%" cy="68.32%" r="0.5"></circle>
    <circle class="star" cx="82.48%" cy="92.97%" r="1.3"></circle>
    <circle class="star" cx="49.21%" cy="63.04%" r="0.8"></circle>
    <circle class="star" cx="26.56%" cy="67.68%" r="0.9"></circle>
    <circle class="star" cx="32.6%" cy="32.86%" r="0.6"></circle>
    <circle class="star" cx="85.43%" cy="19.37%" r="1.3"></circle>
    <circle class="star" cx="72.4%" cy="84.51%" r="1.3"></circle>
    <circle class="star" cx="57.48%" cy="7.76%" r="1"></circle>
    <circle class="star" cx="15.6%" cy="15.15%" r="1.5"></circle>
    <circle class="star" cx="85.12%" cy="45.42%" r="1.2"></circle>
    <circle class="star" cx="73.93%" cy="13.86%" r="1.5"></circle>
    <circle class="star" cx="20.55%" cy="49.05%" r="0.9"></circle>
    <circle class="star" cx="37.28%" cy="61.42%" r="1"></circle>
    <circle class="star" cx="22.98%" cy="93.79%" r="0.9"></circle>
    <circle class="star" cx="68.55%" cy="53.75%" r="0.8"></circle>
    <circle class="star" cx="11.63%" cy="2.6%" r="1"></circle>
    <circle class="star" cx="48.17%" cy="34.48%" r="1.3"></circle>
    <circle class="star" cx="83.6%" cy="18.19%" r="1.3"></circle>
    <circle class="star" cx="55.38%" cy="76.88%" r="1.3"></circle>
    <circle class="star" cx="21.93%" cy="28.88%" r="0.6"></circle>
    <circle class="star" cx="93.26%" cy="52.41%" r="1"></circle>
    <circle class="star" cx="9.52%" cy="62.26%" r="0.9"></circle>
    <circle class="star" cx="21.28%" cy="48.64%" r="1.3"></circle>
    <circle class="star" cx="54.84%" cy="89.75%" r="0.5"></circle>
    <circle class="star" cx="7.93%" cy="79.21%" r="1.4"></circle>
    <circle class="star" cx="34.68%" cy="63.89%" r="1.3"></circle>
    <circle class="star" cx="93.52%" cy="67.02%" r="1.3"></circle>
    <circle class="star" cx="30.92%" cy="30.65%" r="1.5"></circle>
    <circle class="star" cx="68.37%" cy="98.51%" r="0.8"></circle>
    <circle class="star" cx="88.09%" cy="26.3%" r="0.7"></circle>
    <circle class="star" cx="20.61%" cy="69.59%" r="1"></circle>
    <circle class="star" cx="4.97%" cy="41.74%" r="1.2"></circle>
    <circle class="star" cx="70.35%" cy="43.63%" r="0.9"></circle>
    <circle class="star" cx="53.46%" cy="87.33%" r="0.7"></circle>
    <circle class="star" cx="33.63%" cy="18.47%" r="0.5"></circle>
    <circle class="star" cx="55.54%" cy="48.01%" r="1.5"></circle>
    <circle class="star" cx="34.69%" cy="14.24%" r="0.8"></circle>
    <circle class="star" cx="74.8%" cy="82.81%" r="0.9"></circle>
    <circle class="star" cx="65.79%" cy="84.93%" r="0.7"></circle>
    <circle class="star" cx="65.84%" cy="57.56%" r="0.6"></circle>
    <circle class="star" cx="76.79%" cy="15.47%" r="0.9"></circle>
    <circle class="star" cx="21.61%" cy="76.33%" r="1.2"></circle>
    <circle class="star" cx="61.06%" cy="57.43%" r="1.3"></circle>
    <circle class="star" cx="86.75%" cy="3.68%" r="1.3"></circle>
    <circle class="star" cx="84.98%" cy="65.23%" r="0.7"></circle>
    <circle class="star" cx="52.83%" cy="75.38%" r="0.6"></circle>
    <circle class="star" cx="49.63%" cy="47.03%" r="0.8"></circle>
    <circle class="star" cx="59.14%" cy="73.3%" r="1.1"></circle>
    <circle class="star" cx="23.26%" cy="78.34%" r="1.3"></circle>
    <circle class="star" cx="2.17%" cy="8.63%" r="1.5"></circle>
    <circle class="star" cx="7.22%" cy="46.79%" r="0.9"></circle>
    <circle class="star" cx="50.16%" cy="27.57%" r="0.6"></circle>
    <circle class="star" cx="92.13%" cy="85.59%" r="1.1"></circle>
    <circle class="star" cx="55.16%" cy="55.35%" r="0.5"></circle>
    <circle class="star" cx="32.3%" cy="17.82%" r="0.7"></circle>
    <circle class="star" cx="1.85%" cy="45.95%" r="0.6"></circle>
    <circle class="star" cx="9.73%" cy="99.95%" r="0.6"></circle>
    <circle class="star" cx="41.68%" cy="47.38%" r="1.4"></circle>
    <circle class="star" cx="18.74%" cy="36.75%" r="1.4"></circle>
    <circle class="star" cx="44.92%" cy="60.78%" r="1.1"></circle>
    <circle class="star" cx="67.91%" cy="48.63%" r="0.9"></circle>
    <circle class="star" cx="31.27%" cy="26.16%" r="0.9"></circle>
    <circle class="star" cx="93.35%" cy="0.52%" r="1.1"></circle>
    <circle class="star" cx="18.86%" cy="43.54%" r="1.4"></circle>
    <circle class="star" cx="3.65%" cy="47.44%" r="1.4"></circle>
    <circle class="star" cx="59.98%" cy="65.95%" r="1.4"></circle>
    <circle class="star" cx="2.52%" cy="39.21%" r="1.2"></circle>
    <circle class="star" cx="48.71%" cy="26.92%" r="0.6"></circle>
    <circle class="star" cx="8.6%" cy="66.76%" r="0.8"></circle>
    <circle class="star" cx="96.34%" cy="11.75%" r="0.7"></circle>
    <circle class="star" cx="55.9%" cy="56.25%" r="0.6"></circle>
    <circle class="star" cx="42.48%" cy="45.6%" r="0.6"></circle>
    <circle class="star" cx="70.37%" cy="93.61%" r="0.6"></circle>
    <circle class="star" cx="63.99%" cy="62.59%" r="0.5"></circle>
    <circle class="star" cx="23.11%" cy="97.06%" r="1.5"></circle>
    <circle class="star" cx="65.74%" cy="94.52%" r="0.8"></circle>
    <circle class="star" cx="63.38%" cy="15.93%" r="1.1"></circle>
    <circle class="star" cx="7.95%" cy="95.41%" r="0.5"></circle>
    <circle class="star" cx="36.06%" cy="80.91%" r="0.8"></circle>
    <circle class="star" cx="51.71%" cy="58.13%" r="0.7"></circle>
    <circle class="star" cx="78.36%" cy="75.46%" r="1.1"></circle>
    <circle class="star" cx="68.3%" cy="71.46%" r="1.3"></circle>
    <circle class="star" cx="13.87%" cy="98.89%" r="1.5"></circle>
    <circle class="star" cx="22.13%" cy="51.14%" r="1"></circle>
    <circle class="star" cx="11.9%" cy="19.57%" r="1.3"></circle>
    <circle class="star" cx="66.67%" cy="10.49%" r="1.3"></circle>
    <circle class="star" cx="68.5%" cy="93.86%" r="1.1"></circle>
    <circle class="star" cx="62.87%" cy="95.61%" r="1"></circle>
    <circle class="star" cx="85.86%" cy="43.78%" r="0.7"></circle>
    <circle class="star" cx="9.37%" cy="16.97%" r="1.1"></circle>
    <circle class="star" cx="91.53%" cy="34.28%" r="0.9"></circle>
    <circle class="star" cx="81.43%" cy="19.98%" r="1"></circle>
    <circle class="star" cx="82.65%" cy="39.42%" r="0.7"></circle>
    <circle class="star" cx="24.36%" cy="67.4%" r="0.7"></circle>
    <circle class="star" cx="85.03%" cy="57.71%" r="1"></circle>
    <circle class="star" cx="17.01%" cy="32.38%" r="1.1"></circle>
    <circle class="star" cx="30.29%" cy="28.92%" r="1.2"></circle>
    <circle class="star" cx="48.13%" cy="13.61%" r="1.4"></circle>
    <circle class="star" cx="62.57%" cy="47.52%" r="1.5"></circle>
    <circle class="star" cx="59.33%" cy="44.44%" r="0.6"></circle>
    <circle class="star" cx="24.15%" cy="56.69%" r="1"></circle>
    <circle class="star" cx="91.06%" cy="30.9%" r="1.2"></circle>
    <circle class="star" cx="65.87%" cy="72.9%" r="1.3"></circle>
    <circle class="star" cx="83.07%" cy="20.56%" r="0.6"></circle>
    <circle class="star" cx="52.93%" cy="6.37%" r="1"></circle>
    <circle class="star" cx="63.53%" cy="25.59%" r="0.9"></circle>
    <circle class="star" cx="60.03%" cy="54.9%" r="1.2"></circle>
    <circle class="star" cx="26.64%" cy="86.69%" r="0.7"></circle>
    <circle class="star" cx="68.64%" cy="33.65%" r="1.2"></circle>
    <circle class="star" cx="82.63%" cy="32.39%" r="0.9"></circle>
    <circle class="star" cx="14.58%" cy="27.08%" r="1.4"></circle>
    <circle class="star" cx="99.72%" cy="32.29%" r="1.1"></circle>
    <circle class="star" cx="4.71%" cy="42.34%" r="1.1"></circle>
    <circle class="star" cx="65.96%" cy="6.88%" r="1.5"></circle>
    <circle class="star" cx="58.62%" cy="3.03%" r="0.9"></circle>
    <circle class="star" cx="52.32%" cy="96.18%" r="1.5"></circle>
    <circle class="star" cx="68.06%" cy="91.99%" r="1.3"></circle>
    <circle class="star" cx="9.61%" cy="64.41%" r="0.7"></circle>
    <circle class="star" cx="28.57%" cy="76.32%" r="0.5"></circle>
    <circle class="star" cx="98.1%" cy="87.95%" r="0.6"></circle>
    <circle class="star" cx="88.08%" cy="57.35%" r="0.7"></circle>
    <circle class="star" cx="98.51%" cy="16.98%" r="0.9"></circle>
    <circle class="star" cx="76.88%" cy="21.86%" r="0.6"></circle>
    <circle class="star" cx="49.04%" cy="10.12%" r="1"></circle>
    <circle class="star" cx="3.24%" cy="48.86%" r="0.9"></circle>
  </svg>
  <svg class="stars" width="100%" height="100%" preserveAspectRatio="none">
    <circle class="star" cx="95.57%" cy="36.28%" r="1.2"></circle>
    <circle class="star" cx="64.46%" cy="4.02%" r="0.9"></circle>
    <circle class="star" cx="30.92%" cy="67.09%" r="1.5"></circle>
    <circle class="star" cx="12.13%" cy="73.31%" r="1.1"></circle>
    <circle class="star" cx="85.52%" cy="76.28%" r="1.4"></circle>
    <circle class="star" cx="45.97%" cy="21.11%" r="1.4"></circle>
    <circle class="star" cx="18.15%" cy="34.92%" r="1.4"></circle>
    <circle class="star" cx="54.13%" cy="38.9%" r="0.8"></circle>
    <circle class="star" cx="7.34%" cy="57.52%" r="0.9"></circle>
    <circle class="star" cx="20.06%" cy="16.76%" r="0.5"></circle>
    <circle class="star" cx="37.02%" cy="61.63%" r="1.5"></circle>
    <circle class="star" cx="16.19%" cy="68.98%" r="1.3"></circle>
    <circle class="star" cx="6.47%" cy="87.68%" r="1.4"></circle>
    <circle class="star" cx="15.75%" cy="33%" r="0.5"></circle>
    <circle class="star" cx="86.2%" cy="88.7%" r="0.9"></circle>
    <circle class="star" cx="84.64%" cy="83.22%" r="1.5"></circle>
    <circle class="star" cx="91.2%" cy="44.36%" r="0.7"></circle>
    <circle class="star" cx="53.41%" cy="70.32%" r="1.5"></circle>
    <circle class="star" cx="17.06%" cy="27.27%" r="1.4"></circle>
    <circle class="star" cx="16.53%" cy="47.09%" r="0.8"></circle>
    <circle class="star" cx="61.52%" cy="14.19%" r="1.4"></circle>
    <circle class="star" cx="16.01%" cy="10.64%" r="1.5"></circle>
    <circle class="star" cx="99.66%" cy="96.09%" r="1.1"></circle>
    <circle class="star" cx="11.83%" cy="83.62%" r="1.2"></circle>
    <circle class="star" cx="34.35%" cy="40.66%" r="0.9"></circle>
    <circle class="star" cx="1.35%" cy="20.86%" r="0.5"></circle>
    <circle class="star" cx="34.69%" cy="29.51%" r="0.7"></circle>
    <circle class="star" cx="10.8%" cy="6.36%" r="1.1"></circle>
    <circle class="star" cx="30.46%" cy="32.39%" r="1.1"></circle>
    <circle class="star" cx="65.88%" cy="33.18%" r="0.9"></circle>
    <circle class="star" cx="38.42%" cy="84.46%" r="1"></circle>
    <circle class="star" cx="87.86%" cy="37.25%" r="1.1"></circle>
    <circle class="star" cx="94.85%" cy="43.01%" r="0.7"></circle>
    <circle class="star" cx="59.43%" cy="39.5%" r="1"></circle>
    <circle class="star" cx="80.04%" cy="87.61%" r="1.3"></circle>
    <circle class="star" cx="69.67%" cy="98.99%" r="0.5"></circle>
    <circle class="star" cx="66.8%" cy="38.03%" r="0.9"></circle>
    <circle class="star" cx="52.44%" cy="33.41%" r="1.4"></circle>
    <circle class="star" cx="21.97%" cy="2.23%" r="1.4"></circle>
    <circle class="star" cx="49.55%" cy="60.68%" r="0.9"></circle>
    <circle class="star" cx="48.61%" cy="38.42%" r="1.3"></circle>
    <circle class="star" cx="41.7%" cy="98.08%" r="0.9"></circle>
    <circle class="star" cx="10.95%" cy="70.19%" r="0.9"></circle>
    <circle class="star" cx="33.95%" cy="8.84%" r="0.8"></circle>
    <circle class="star" cx="69.48%" cy="66.03%" r="1.3"></circle>
    <circle class="star" cx="82.29%" cy="21.17%" r="0.5"></circle>
    <circle class="star" cx="61.54%" cy="63.59%" r="0.6"></circle>
    <circle class="star" cx="36.54%" cy="68.6%" r="0.8"></circle>
    <circle class="star" cx="69.06%" cy="64.86%" r="1.4"></circle>
    <circle class="star" cx="83.68%" cy="90.6%" r="0.7"></circle>
    <circle class="star" cx="37.79%" cy="60.05%" r="0.9"></circle>
    <circle class="star" cx="85.79%" cy="19.49%" r="1.4"></circle>
    <circle class="star" cx="72.07%" cy="1.49%" r="1.4"></circle>
    <circle class="star" cx="62%" cy="71.22%" r="1.4"></circle>
    <circle class="star" cx="23.7%" cy="13.35%" r="1.2"></circle>
    <circle class="star" cx="3.77%" cy="41.85%" r="0.9"></circle>
    <circle class="star" cx="97.46%" cy="44.69%" r="0.9"></circle>
    <circle class="star" cx="42.85%" cy="63.64%" r="1.5"></circle>
    <circle class="star" cx="34%" cy="79.35%" r="0.9"></circle>
    <circle class="star" cx="70.69%" cy="39.18%" r="0.9"></circle>
    <circle class="star" cx="79.28%" cy="81.01%" r="1.1"></circle>
    <circle class="star" cx="61.72%" cy="16.45%" r="1.4"></circle>
    <circle class="star" cx="70.78%" cy="11.94%" r="0.6"></circle>
    <circle class="star" cx="46.67%" cy="10.75%" r="0.6"></circle>
    <circle class="star" cx="41.51%" cy="65.45%" r="1.3"></circle>
    <circle class="star" cx="45.66%" cy="53.27%" r="0.8"></circle>
    <circle class="star" cx="87.93%" cy="53.78%" r="1"></circle>
    <circle class="star" cx="2.65%" cy="80.07%" r="0.7"></circle>
    <circle class="star" cx="45.6%" cy="93.55%" r="1"></circle>
    <circle class="star" cx="62.79%" cy="17.35%" r="1.4"></circle>
    <circle class="star" cx="7.26%" cy="27.38%" r="1.3"></circle>
    <circle class="star" cx="24.84%" cy="93.07%" r="1.1"></circle>
    <circle class="star" cx="58.68%" cy="12.03%" r="1.3"></circle>
    <circle class="star" cx="57.75%" cy="68.31%" r="1.4"></circle>
    <circle class="star" cx="42.47%" cy="72.42%" r="1.2"></circle>
    <circle class="star" cx="13.04%" cy="11.55%" r="1.2"></circle>
    <circle class="star" cx="96.75%" cy="69.97%" r="0.8"></circle>
    <circle class="star" cx="97.16%" cy="34.53%" r="1"></circle>
    <circle class="star" cx="7.83%" cy="17.07%" r="1.2"></circle>
    <circle class="star" cx="41.53%" cy="63.54%" r="1.3"></circle>
    <circle class="star" cx="0.55%" cy="37.65%" r="1.3"></circle>
    <circle class="star" cx="51.58%" cy="7.53%" r="1.5"></circle>
    <circle class="star" cx="7.93%" cy="43.57%" r="1"></circle>
    <circle class="star" cx="39.15%" cy="56.82%" r="1.4"></circle>
    <circle class="star" cx="70.6%" cy="36.74%" r="1"></circle>
    <circle class="star" cx="32.16%" cy="26.3%" r="0.5"></circle>
    <circle class="star" cx="11.67%" cy="18.04%" r="0.8"></circle>
    <circle class="star" cx="53.15%" cy="70.89%" r="0.8"></circle>
    <circle class="star" cx="94.55%" cy="73.76%" r="0.8"></circle>
    <circle class="star" cx="94.67%" cy="70.99%" r="0.8"></circle>
    <circle class="star" cx="45.55%" cy="43.1%" r="1.1"></circle>
    <circle class="star" cx="72.18%" cy="52.52%" r="0.9"></circle>
    <circle class="star" cx="33.95%" cy="20.34%" r="0.5"></circle>
    <circle class="star" cx="30.88%" cy="28.71%" r="0.8"></circle>
    <circle class="star" cx="47.11%" cy="55.82%" r="0.9"></circle>
    <circle class="star" cx="36.75%" cy="45.35%" r="0.8"></circle>
    <circle class="star" cx="8.15%" cy="52.99%" r="1.3"></circle>
    <circle class="star" cx="85.05%" cy="69.41%" r="0.5"></circle>
    <circle class="star" cx="81.79%" cy="8.11%" r="0.7"></circle>
    <circle class="star" cx="62.61%" cy="13.02%" r="0.7"></circle>
    <circle class="star" cx="76.89%" cy="9.95%" r="0.7"></circle>
    <circle class="star" cx="84.66%" cy="93.62%" r="1.3"></circle>
    <circle class="star" cx="77.89%" cy="12.94%" r="1.3"></circle>
    <circle class="star" cx="51.46%" cy="84.15%" r="1.4"></circle>
    <circle class="star" cx="62.52%" cy="80.64%" r="1"></circle>
    <circle class="star" cx="14.39%" cy="49.41%" r="0.8"></circle>
    <circle class="star" cx="87.45%" cy="3.36%" r="0.8"></circle>
    <circle class="star" cx="47.69%" cy="48.82%" r="0.6"></circle>
    <circle class="star" cx="62.99%" cy="58.21%" r="0.6"></circle>
    <circle class="star" cx="78.5%" cy="48.61%" r="0.6"></circle>
    <circle class="star" cx="1.18%" cy="28.88%" r="0.7"></circle>
    <circle class="star" cx="17.94%" cy="66.41%" r="1.2"></circle>
    <circle class="star" cx="56.49%" cy="80.8%" r="1.4"></circle>
    <circle class="star" cx="41.46%" cy="40.08%" r="1.5"></circle>
    <circle class="star" cx="89.91%" cy="80.6%" r="1.3"></circle>
    <circle class="star" cx="65.49%" cy="81.06%" r="1.3"></circle>
    <circle class="star" cx="28.12%" cy="44.47%" r="1.4"></circle>
    <circle class="star" cx="59.1%" cy="88.41%" r="0.5"></circle>
    <circle class="star" cx="17.81%" cy="44.97%" r="0.9"></circle>
    <circle class="star" cx="19.81%" cy="62.28%" r="1.3"></circle>
    <circle class="star" cx="3.64%" cy="99.3%" r="0.9"></circle>
    <circle class="star" cx="39.86%" cy="96.72%" r="1.1"></circle>
    <circle class="star" cx="92.16%" cy="26.28%" r="1.2"></circle>
    <circle class="star" cx="80.59%" cy="46.18%" r="1.1"></circle>
    <circle class="star" cx="17.94%" cy="17.12%" r="0.7"></circle>
    <circle class="star" cx="54.99%" cy="40.18%" r="0.9"></circle>
    <circle class="star" cx="7.56%" cy="28.9%" r="0.9"></circle>
    <circle class="star" cx="49.82%" cy="53.71%" r="0.9"></circle>
    <circle class="star" cx="8.74%" cy="0.24%" r="1.1"></circle>
    <circle class="star" cx="77.45%" cy="28.08%" r="0.7"></circle>
    <circle class="star" cx="46.11%" cy="10.17%" r="1.3"></circle>
    <circle class="star" cx="89.24%" cy="66.46%" r="1.2"></circle>
    <circle class="star" cx="57.06%" cy="67.76%" r="0.8"></circle>
    <circle class="star" cx="34.48%" cy="86.76%" r="1.4"></circle>
    <circle class="star" cx="36.84%" cy="93.64%" r="0.8"></circle>
    <circle class="star" cx="85.55%" cy="16.31%" r="0.8"></circle>
    <circle class="star" cx="65.76%" cy="25.99%" r="1.2"></circle>
    <circle class="star" cx="18.33%" cy="11.62%" r="1.1"></circle>
    <circle class="star" cx="35.74%" cy="94.38%" r="1.2"></circle>
    <circle class="star" cx="92.39%" cy="50.84%" r="0.7"></circle>
    <circle class="star" cx="29.98%" cy="93.7%" r="0.6"></circle>
    <circle class="star" cx="11.07%" cy="19.24%" r="0.6"></circle>
    <circle class="star" cx="50.95%" cy="18.76%" r="1.2"></circle>
    <circle class="star" cx="41.96%" cy="8.74%" r="1"></circle>
    <circle class="star" cx="22.09%" cy="24.92%" r="0.7"></circle>
    <circle class="star" cx="59.1%" cy="71.58%" r="1.5"></circle>
    <circle class="star" cx="44.47%" cy="80.64%" r="1.2"></circle>
    <circle class="star" cx="4.85%" cy="42.2%" r="0.7"></circle>
    <circle class="star" cx="76.54%" cy="89.64%" r="1.4"></circle>
    <circle class="star" cx="28.52%" cy="41.84%" r="1.3"></circle>
    <circle class="star" cx="42.6%" cy="23.83%" r="1.4"></circle>
    <circle class="star" cx="30.83%" cy="30.38%" r="1.4"></circle>
    <circle class="star" cx="59.66%" cy="82.08%" r="1.1"></circle>
    <circle class="star" cx="72.26%" cy="74.77%" r="1.5"></circle>
    <circle class="star" cx="37.42%" cy="82.03%" r="0.8"></circle>
    <circle class="star" cx="34.59%" cy="88.56%" r="1.5"></circle>
    <circle class="star" cx="1.52%" cy="20.13%" r="1.1"></circle>
    <circle class="star" cx="23.23%" cy="48.82%" r="1.1"></circle>
    <circle class="star" cx="11.84%" cy="11.26%" r="0.5"></circle>
    <circle class="star" cx="78.16%" cy="81.59%" r="0.9"></circle>
    <circle class="star" cx="90.5%" cy="62.98%" r="0.6"></circle>
    <circle class="star" cx="21.59%" cy="76.79%" r="0.6"></circle>
    <circle class="star" cx="40.46%" cy="4.64%" r="1.1"></circle>
    <circle class="star" cx="53.88%" cy="42.7%" r="1.2"></circle>
    <circle class="star" cx="50.81%" cy="73.08%" r="0.7"></circle>
    <circle class="star" cx="97.01%" cy="48.62%" r="1"></circle>
    <circle class="star" cx="66.91%" cy="1.46%" r="0.8"></circle>
    <circle class="star" cx="43.37%" cy="92.18%" r="0.7"></circle>
    <circle class="star" cx="72.59%" cy="77.14%" r="1.2"></circle>
    <circle class="star" cx="78.21%" cy="51.72%" r="1.3"></circle>
    <circle class="star" cx="32.42%" cy="83.96%" r="1"></circle>
    <circle class="star" cx="21.41%" cy="92.79%" r="1.1"></circle>
    <circle class="star" cx="86.86%" cy="24.84%" r="0.6"></circle>
    <circle class="star" cx="15.9%" cy="34.86%" r="0.6"></circle>
    <circle class="star" cx="94.68%" cy="7.55%" r="0.7"></circle>
    <circle class="star" cx="87.68%" cy="59.93%" r="1.1"></circle>
    <circle class="star" cx="0.94%" cy="14.39%" r="1"></circle>
    <circle class="star" cx="50.03%" cy="74.41%" r="1"></circle>
    <circle class="star" cx="48.15%" cy="50.36%" r="1.1"></circle>
    <circle class="star" cx="79.27%" cy="33.99%" r="0.6"></circle>
    <circle class="star" cx="82.13%" cy="17.73%" r="1.2"></circle>
    <circle class="star" cx="62%" cy="96.97%" r="1.1"></circle>
    <circle class="star" cx="21.9%" cy="36%" r="0.6"></circle>
    <circle class="star" cx="22.16%" cy="87.62%" r="1.4"></circle>
    <circle class="star" cx="61.47%" cy="39.43%" r="0.6"></circle>
    <circle class="star" cx="2.5%" cy="45.5%" r="0.6"></circle>
    <circle class="star" cx="10.57%" cy="10.78%" r="0.6"></circle>
    <circle class="star" cx="13.28%" cy="75.27%" r="1.3"></circle>
    <circle class="star" cx="57.45%" cy="3.88%" r="0.8"></circle>
    <circle class="star" cx="98.31%" cy="32.97%" r="0.6"></circle>
    <circle class="star" cx="23.57%" cy="32.82%" r="0.8"></circle>
    <circle class="star" cx="58.42%" cy="84.1%" r="1.2"></circle>
    <circle class="star" cx="18.34%" cy="48.19%" r="0.8"></circle>
    <circle class="star" cx="73.42%" cy="47.8%" r="1.4"></circle>
    <circle class="star" cx="45.12%" cy="88.21%" r="0.6"></circle>
    <circle class="star" cx="91.55%" cy="95.97%" r="0.7"></circle>
    <circle class="star" cx="5%" cy="42.1%" r="1.4"></circle>
    <circle class="star" cx="91.07%" cy="95.5%" r="1.3"></circle>
    <circle class="star" cx="78.03%" cy="88.22%" r="1.3"></circle>
    <circle class="star" cx="65.51%" cy="36.33%" r="0.7"></circle>
  </svg>
  <svg class="stars" width="100%" height="100%" preserveAspectRatio="none">
    <circle class="star" cx="33.32%" cy="26.71%" r="1.3"></circle>
    <circle class="star" cx="62.54%" cy="63.88%" r="1.4"></circle>
    <circle class="star" cx="51.83%" cy="26.04%" r="1.3"></circle>
    <circle class="star" cx="59.73%" cy="70.59%" r="1"></circle>
    <circle class="star" cx="97.53%" cy="72.77%" r="0.8"></circle>
    <circle class="star" cx="59.94%" cy="58.33%" r="1.5"></circle>
    <circle class="star" cx="67.88%" cy="57.85%" r="0.6"></circle>
    <circle class="star" cx="87.08%" cy="81.19%" r="0.7"></circle>
    <circle class="star" cx="99.63%" cy="95.1%" r="1.4"></circle>
    <circle class="star" cx="91.88%" cy="22.14%" r="0.6"></circle>
    <circle class="star" cx="68.65%" cy="37.39%" r="0.6"></circle>
    <circle class="star" cx="14.78%" cy="8.81%" r="0.8"></circle>
    <circle class="star" cx="74.31%" cy="75.24%" r="0.9"></circle>
    <circle class="star" cx="13.84%" cy="89.12%" r="1.1"></circle>
    <circle class="star" cx="76.75%" cy="12.12%" r="1.1"></circle>
    <circle class="star" cx="85.92%" cy="77.29%" r="1"></circle>
    <circle class="star" cx="22.14%" cy="11.39%" r="1.2"></circle>
    <circle class="star" cx="92.17%" cy="54.11%" r="0.8"></circle>
    <circle class="star" cx="47.05%" cy="86.92%" r="0.5"></circle>
    <circle class="star" cx="91.3%" cy="55.78%" r="1.2"></circle>
    <circle class="star" cx="13.09%" cy="14.94%" r="1.3"></circle>
    <circle class="star" cx="80.03%" cy="63.99%" r="1"></circle>
    <circle class="star" cx="65.85%" cy="1.16%" r="1.5"></circle>
    <circle class="star" cx="74.67%" cy="86.29%" r="1.1"></circle>
    <circle class="star" cx="48.7%" cy="26.29%" r="1.2"></circle>
    <circle class="star" cx="17.08%" cy="82.23%" r="0.5"></circle>
    <circle class="star" cx="43.56%" cy="93.48%" r="1"></circle>
    <circle class="star" cx="87.46%" cy="80.26%" r="1"></circle>
    <circle class="star" cx="58.25%" cy="4.23%" r="1.3"></circle>
    <circle class="star" cx="74.22%" cy="11.79%" r="1.4"></circle>
    <circle class="star" cx="68.5%" cy="1.66%" r="1.1"></circle>
    <circle class="star" cx="97.77%" cy="2.33%" r="1"></circle>
    <circle class="star" cx="94.28%" cy="98.4%" r="1"></circle>
    <circle class="star" cx="23.45%" cy="16.96%" r="0.7"></circle>
    <circle class="star" cx="19.47%" cy="7.52%" r="1.2"></circle>
    <circle class="star" cx="26.8%" cy="77.52%" r="0.7"></circle>
    <circle class="star" cx="68.07%" cy="80.65%" r="0.6"></circle>
    <circle class="star" cx="82.13%" cy="52.76%" r="1.2"></circle>
    <circle class="star" cx="5.86%" cy="11.67%" r="1.3"></circle>
    <circle class="star" cx="29.45%" cy="60.74%" r="0.7"></circle>
    <circle class="star" cx="24.76%" cy="47.85%" r="1.4"></circle>
    <circle class="star" cx="99.73%" cy="55.73%" r="1.2"></circle>
    <circle class="star" cx="97.51%" cy="5.68%" r="1.2"></circle>
    <circle class="star" cx="47.14%" cy="13.42%" r="1.5"></circle>
    <circle class="star" cx="91.37%" cy="29.56%" r="1.2"></circle>
    <circle class="star" cx="52.65%" cy="29.05%" r="0.8"></circle>
    <circle class="star" cx="12.83%" cy="11.19%" r="1.4"></circle>
    <circle class="star" cx="34.64%" cy="83.17%" r="1.2"></circle>
    <circle class="star" cx="20.1%" cy="24.13%" r="1.1"></circle>
    <circle class="star" cx="5.97%" cy="74.55%" r="1.3"></circle>
    <circle class="star" cx="9.46%" cy="84.09%" r="0.6"></circle>
    <circle class="star" cx="69.19%" cy="67.85%" r="0.8"></circle>
    <circle class="star" cx="82.9%" cy="87.35%" r="1.1"></circle>
    <circle class="star" cx="5.01%" cy="0.14%" r="1"></circle>
    <circle class="star" cx="76.16%" cy="19.27%" r="0.7"></circle>
    <circle class="star" cx="46.05%" cy="53.01%" r="0.7"></circle>
    <circle class="star" cx="63.85%" cy="73.16%" r="1.3"></circle>
    <circle class="star" cx="74.92%" cy="70.03%" r="1.3"></circle>
    <circle class="star" cx="86.86%" cy="94.81%" r="0.5"></circle>
    <circle class="star" cx="38.04%" cy="57.17%" r="1.4"></circle>
    <circle class="star" cx="66.7%" cy="63.71%" r="1"></circle>
    <circle class="star" cx="26.77%" cy="99.94%" r="1.5"></circle>
    <circle class="star" cx="86.55%" cy="96%" r="0.9"></circle>
    <circle class="star" cx="41.11%" cy="41.09%" r="1.3"></circle>
    <circle class="star" cx="3.42%" cy="20.57%" r="0.8"></circle>
    <circle class="star" cx="92.89%" cy="74.86%" r="0.7"></circle>
    <circle class="star" cx="50.99%" cy="77.17%" r="0.5"></circle>
    <circle class="star" cx="17.75%" cy="24.67%" r="1.1"></circle>
    <circle class="star" cx="15.84%" cy="25.38%" r="1.3"></circle>
    <circle class="star" cx="55.82%" cy="39.07%" r="1.4"></circle>
    <circle class="star" cx="68.45%" cy="8.58%" r="0.7"></circle>
    <circle class="star" cx="20.12%" cy="8.09%" r="0.5"></circle>
    <circle class="star" cx="44.21%" cy="48.74%" r="0.6"></circle>
    <circle class="star" cx="22.35%" cy="71.11%" r="1.1"></circle>
    <circle class="star" cx="13.65%" cy="8.35%" r="1.2"></circle>
    <circle class="star" cx="87.77%" cy="93.06%" r="0.9"></circle>
    <circle class="star" cx="98.64%" cy="81.96%" r="1.4"></circle>
    <circle class="star" cx="87.53%" cy="77.35%" r="0.8"></circle>
    <circle class="star" cx="55.41%" cy="35.54%" r="0.7"></circle>
    <circle class="star" cx="85.27%" cy="47.32%" r="0.6"></circle>
    <circle class="star" cx="67.15%" cy="73.67%" r="1.4"></circle>
    <circle class="star" cx="60.66%" cy="86.84%" r="0.9"></circle>
    <circle class="star" cx="30.04%" cy="82.99%" r="0.8"></circle>
    <circle class="star" cx="13.38%" cy="62.28%" r="1.1"></circle>
    <circle class="star" cx="27.26%" cy="83.7%" r="0.6"></circle>
    <circle class="star" cx="29.2%" cy="12.52%" r="0.7"></circle>
    <circle class="star" cx="11.31%" cy="88.37%" r="1"></circle>
    <circle class="star" cx="70.78%" cy="69.76%" r="1.3"></circle>
    <circle class="star" cx="8.41%" cy="77.62%" r="0.9"></circle>
    <circle class="star" cx="21.16%" cy="67.68%" r="1.3"></circle>
    <circle class="star" cx="76.8%" cy="97.41%" r="1.5"></circle>
    <circle class="star" cx="4.42%" cy="19.51%" r="0.6"></circle>
    <circle class="star" cx="88.67%" cy="84.76%" r="1.2"></circle>
    <circle class="star" cx="69.59%" cy="68.11%" r="0.7"></circle>
    <circle class="star" cx="13.87%" cy="35.93%" r="0.9"></circle>
    <circle class="star" cx="99.51%" cy="89.59%" r="0.8"></circle>
    <circle class="star" cx="37.99%" cy="92.31%" r="0.8"></circle>
    <circle class="star" cx="70.84%" cy="62.07%" r="0.9"></circle>
    <circle class="star" cx="2.57%" cy="95.75%" r="0.8"></circle>
    <circle class="star" cx="25.38%" cy="16.01%" r="1"></circle>
    <circle class="star" cx="52.32%" cy="73.6%" r="1.2"></circle>
    <circle class="star" cx="92.8%" cy="67.49%" r="1.3"></circle>
    <circle class="star" cx="70.89%" cy="80.25%" r="0.8"></circle>
    <circle class="star" cx="82.63%" cy="35.1%" r="0.8"></circle>
    <circle class="star" cx="60.35%" cy="68.94%" r="0.6"></circle>
    <circle class="star" cx="46.94%" cy="65.73%" r="0.7"></circle>
    <circle class="star" cx="66.86%" cy="41.3%" r="0.9"></circle>
    <circle class="star" cx="96.76%" cy="92.29%" r="1"></circle>
    <circle class="star" cx="5.86%" cy="29.52%" r="0.5"></circle>
    <circle class="star" cx="58.58%" cy="86.69%" r="1.5"></circle>
    <circle class="star" cx="98.35%" cy="45.87%" r="0.7"></circle>
    <circle class="star" cx="29.02%" cy="31.24%" r="1.3"></circle>
    <circle class="star" cx="50.16%" cy="10.82%" r="0.8"></circle>
    <circle class="star" cx="91.2%" cy="74.33%" r="0.9"></circle>
    <circle class="star" cx="22.62%" cy="22.1%" r="1.3"></circle>
    <circle class="star" cx="91.47%" cy="93.89%" r="0.8"></circle>
    <circle class="star" cx="16.83%" cy="90.52%" r="1.2"></circle>
    <circle class="star" cx="47.03%" cy="81.91%" r="1"></circle>
    <circle class="star" cx="79.57%" cy="46.23%" r="1.4"></circle>
    <circle class="star" cx="60.32%" cy="55.9%" r="1.3"></circle>
    <circle class="star" cx="96.43%" cy="69.24%" r="1.2"></circle>
    <circle class="star" cx="19.96%" cy="92.64%" r="1"></circle>
    <circle class="star" cx="59.34%" cy="15.82%" r="0.6"></circle>
    <circle class="star" cx="36.24%" cy="61.21%" r="1.2"></circle>
    <circle class="star" cx="88.65%" cy="91.58%" r="0.9"></circle>
    <circle class="star" cx="48.48%" cy="3.28%" r="0.9"></circle>
    <circle class="star" cx="82.6%" cy="26.08%" r="0.6"></circle>
    <circle class="star" cx="30%" cy="99.12%" r="1.2"></circle>
    <circle class="star" cx="63.78%" cy="25.24%" r="1.1"></circle>
    <circle class="star" cx="91.79%" cy="4.1%" r="1.5"></circle>
    <circle class="star" cx="75.36%" cy="19.33%" r="1.3"></circle>
    <circle class="star" cx="90.87%" cy="1.75%" r="0.7"></circle>
    <circle class="star" cx="4.24%" cy="40.06%" r="1.2"></circle>
    <circle class="star" cx="20.88%" cy="53.51%" r="0.8"></circle>
    <circle class="star" cx="93.31%" cy="44.5%" r="0.9"></circle>
    <circle class="star" cx="74.91%" cy="16.87%" r="0.7"></circle>
    <circle class="star" cx="29.72%" cy="4.89%" r="1.3"></circle>
    <circle class="star" cx="43.27%" cy="41.05%" r="0.9"></circle>
    <circle class="star" cx="80.98%" cy="73.99%" r="1.2"></circle>
    <circle class="star" cx="80.75%" cy="98.67%" r="0.9"></circle>
    <circle class="star" cx="99.22%" cy="16.62%" r="1.4"></circle>
    <circle class="star" cx="90.71%" cy="61.84%" r="1.4"></circle>
    <circle class="star" cx="79.21%" cy="5.81%" r="1.2"></circle>
    <circle class="star" cx="77.44%" cy="11.38%" r="1"></circle>
    <circle class="star" cx="52.85%" cy="46.86%" r="1.5"></circle>
    <circle class="star" cx="24.48%" cy="36.17%" r="0.6"></circle>
    <circle class="star" cx="8.46%" cy="76.56%" r="1.4"></circle>
    <circle class="star" cx="71.87%" cy="8.7%" r="0.5"></circle>
    <circle class="star" cx="40.07%" cy="57.66%" r="0.9"></circle>
    <circle class="star" cx="8.64%" cy="88.76%" r="0.8"></circle>
    <circle class="star" cx="7.19%" cy="79.66%" r="1.1"></circle>
    <circle class="star" cx="95.74%" cy="96.24%" r="1.2"></circle>
    <circle class="star" cx="73.55%" cy="52.44%" r="1"></circle>
    <circle class="star" cx="37.29%" cy="83.69%" r="1.3"></circle>
    <circle class="star" cx="73.31%" cy="80.92%" r="0.9"></circle>
    <circle class="star" cx="52.12%" cy="81.37%" r="0.8"></circle>
    <circle class="star" cx="15.02%" cy="58.66%" r="0.9"></circle>
    <circle class="star" cx="31.53%" cy="87.08%" r="0.8"></circle>
    <circle class="star" cx="28.76%" cy="52.77%" r="0.6"></circle>
    <circle class="star" cx="98.38%" cy="99.27%" r="0.9"></circle>
    <circle class="star" cx="10.52%" cy="9.87%" r="0.5"></circle>
    <circle class="star" cx="56.73%" cy="36.28%" r="0.8"></circle>
    <circle class="star" cx="16.93%" cy="0.27%" r="1.4"></circle>
    <circle class="star" cx="83.47%" cy="55.37%" r="0.7"></circle>
    <circle class="star" cx="6.69%" cy="57.67%" r="1.4"></circle>
    <circle class="star" cx="76.88%" cy="25.82%" r="1"></circle>
    <circle class="star" cx="96.78%" cy="46.72%" r="1.1"></circle>
    <circle class="star" cx="2.71%" cy="32.92%" r="1.3"></circle>
    <circle class="star" cx="83.71%" cy="40.23%" r="1.1"></circle>
    <circle class="star" cx="79.23%" cy="69.45%" r="0.8"></circle>
    <circle class="star" cx="52.46%" cy="16.72%" r="1.5"></circle>
    <circle class="star" cx="41.62%" cy="95.26%" r="0.8"></circle>
    <circle class="star" cx="3.63%" cy="72.66%" r="0.8"></circle>
    <circle class="star" cx="8.37%" cy="27.47%" r="0.9"></circle>
    <circle class="star" cx="8.94%" cy="7.69%" r="0.8"></circle>
    <circle class="star" cx="99.5%" cy="54%" r="0.8"></circle>
    <circle class="star" cx="51.67%" cy="25.12%" r="0.7"></circle>
    <circle class="star" cx="87.87%" cy="85.61%" r="1.3"></circle>
    <circle class="star" cx="68.62%" cy="23.2%" r="1"></circle>
    <circle class="star" cx="43.64%" cy="39.76%" r="1.1"></circle>
    <circle class="star" cx="3.08%" cy="90.33%" r="1.1"></circle>
    <circle class="star" cx="39.91%" cy="70.8%" r="1.4"></circle>
    <circle class="star" cx="55.87%" cy="26.74%" r="0.8"></circle>
    <circle class="star" cx="39.51%" cy="76.29%" r="1"></circle>
    <circle class="star" cx="65.49%" cy="64.08%" r="0.5"></circle>
    <circle class="star" cx="79.51%" cy="41.69%" r="0.5"></circle>
    <circle class="star" cx="29.46%" cy="47.89%" r="1.2"></circle>
    <circle class="star" cx="34.67%" cy="85.71%" r="1.1"></circle>
    <circle class="star" cx="92.61%" cy="76.2%" r="1.4"></circle>
    <circle class="star" cx="15.63%" cy="64.22%" r="1.3"></circle>
    <circle class="star" cx="36.08%" cy="72.46%" r="1"></circle>
    <circle class="star" cx="74.79%" cy="53.09%" r="1.4"></circle>
    <circle class="star" cx="53.74%" cy="8.37%" r="1.1"></circle>
    <circle class="star" cx="38.83%" cy="29.37%" r="0.6"></circle>
    <circle class="star" cx="13.37%" cy="43.4%" r="1.3"></circle>
    <circle class="star" cx="24.42%" cy="85.14%" r="1.1"></circle>
    <circle class="star" cx="26.61%" cy="91.33%" r="0.6"></circle>
    <circle class="star" cx="66.9%" cy="59.58%" r="1.5"></circle>
    <circle class="star" cx="64.27%" cy="79.22%" r="0.9"></circle>
    <circle class="star" cx="0.07%" cy="45.19%" r="1.2"></circle>
  </svg>
  <svg class="extras" width="100%" height="100%" preserveAspectRatio="none">
    <defs>
      <radialGradient id="comet-gradient" ="" cx="0" cy=".5" r="0.5">
        <stop offset="0%" stop-color="rgba(255,255,255,.8)"></stop>
        <stop offset="100%" stop-color="rgba(255,255,255,0)"></stop>
      </radialGradient>
    </defs>
    <g transform="rotate(-135)">
      <ellipse class="comet comet-a" fill="url(#comet-gradient)" cx="0" cy="0" rx="150" ry="2"></ellipse>
    </g>
    <g transform="rotate(20)">
      <ellipse class="comet comet-b" fill="url(#comet-gradient)" cx="100%" cy="0" rx="150" ry="2"></ellipse>
    </g>
    <g transform="rotate(300)">
      <ellipse class="comet comet-c" fill="url(#comet-gradient)" cx="40%" cy="100%" rx="150" ry="2"></ellipse>
    </g>
  </svg>
</div>